In [5]:
import pandas as pd

file_path = '/content/sample_data/california_housing_test.csv'
df = pd.read_csv(file_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [7]:
df.shape

(3000, 9)

In [9]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [11]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [13]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [21]:
old_homes = df[df['housing_median_age'] > 50]
print(old_homes)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
26      -122.42     37.76                52.0       3587.0          1030.0
36      -122.53     37.97                52.0       1560.0           451.0
70      -121.92     37.33                52.0       2125.0           382.0
99      -118.20     33.77                52.0       1375.0           457.0
109     -122.43     37.74                52.0       1514.0           314.0
...         ...       ...                 ...          ...             ...
2950    -122.42     37.79                52.0       3364.0          1100.0
2965    -122.44     37.71                52.0       2711.0           591.0
2970    -122.47     37.77                52.0       2241.0           443.0
2972    -118.14     34.17                52.0       2667.0           486.0
2992    -122.33     37.39                52.0        573.0           102.0

      population  households  median_income  median_house_value
26        2259.0       979.0         2.5403            250000.0
36         700.0       419.0         2.5125            270800.0
70         930.0       387.0         5.2831            299500.0
99        1089.0       317.0         2.2344            200000.0
109        724.0       301.0         5.3292            300900.0
...          ...         ...            ...                 ...
2950      2112.0      1045.0         2.1343            400000.0
2965      1848.0       524.0         3.9567            251500.0
2970      1042.0       377.0         4.1635            398400.0
2972      1681.0       504.0         4.0524            173100.0
2992       232.0        92.0         6.2263            500001.0

[184 rows x 9 columns]

In [23]:
print(old_homes.shape)

(184, 9)

In [25]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [28]:
df_clean = df.dropna()
df['housing_median_age'] = df['housing_median_age'].fillna(df['housing_median_age'].mean())

In [32]:
df_sorted = df.sort_values(by='median_house_value')

In [34]:
print(df_sorted)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2001    -117.16     32.71                52.0        845.0           451.0
1031    -123.08     40.40                10.0        365.0           102.0
2740    -119.97     36.44                18.0       1128.0           237.0
734     -117.65     35.00                36.0       1184.0           316.0
2555    -122.06     37.39                22.0       1236.0           290.0
...         ...       ...                 ...          ...             ...
2999    -119.63     34.42                42.0       1765.0           263.0
2152    -118.43     33.96                20.0       1901.0           270.0
2992    -122.33     37.39                52.0        573.0           102.0
2968    -119.23     34.17                18.0       6171.0          1490.0
2993    -117.91     33.60                37.0       2088.0           510.0

      population  households  median_income  median_house_value
2001      1230.0       375.0         1.0918             22500.0
1031       140.0        49.0         1.7969             37500.0
2740       772.0       220.0         2.1771             39200.0
734        672.0       241.0         1.9107             39800.0
2555       413.0       274.0         3.6875             40000.0
...          ...         ...            ...                 ...
2999       753.0       260.0         8.5608            500001.0
2152       704.0       254.0         8.7819            500001.0
2992       232.0        92.0         6.2263            500001.0
2968      2164.0      1210.0         3.6875            500001.0
2993       673.0       390.0         5.1048            500001.0

[3000 rows x 9 columns]

In [35]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0